@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService ls;
@using SocialWeb.Components
@using Infra.Models
<!-- Post 1 with Image-->
@if(PostData != null)
{
    <div class="card mb-3" style="cursor: pointer;" >
        <div class="card-header d-flex align-items-center">
            <img src="image/RaidenEi.png" alt="Avatar" class="rounded-circle me-3" width="40" height="40">
            <div>
                <span @onclick="FromPosttoProfile"><h6 class="mb-0">@PostData.UploadedUserName</h6></span>
                <small>@PostData.CreatedTime?.ToString("dd MMM yyyy hh:mm tt")</small>
            </div>
        </div>
        <div class="card-body">
            <p style="font:caption">@PostData.Title</p>
            <div class="mb-2">
                @{
                    var tagList = PostData?.Tags.Split(",").ToList();
                    foreach(var tag in tagList)
                    {
                        <div class="badge me-1">@tag</div>
                    }
                }

            </div>
            @if (!string.IsNullOrEmpty(PostData?.PhotoDatas))
            {
                <div class="d-flex images">
                    @{
                        var photoList = PostData?.PhotoDatas.Split(",").ToList();
                        foreach(var photo in photoList)
                        {
                            var photoPath = $@"/image/{photo}";
                            <img src=@photoPath class="img-thumbnail me-2" alt="Image 1" />
                        }
                    }

                </div>
            }

            <hr />
            <div class="mt-3 actions">
                <button class="btn btn-primary me-2" @onclick="HandleLike"><i class="fa-solid fa-thumbs-up"></i> Like</button>
                <button class="btn btn-primary" @onclick="HandleComment"><i class="fa-solid fa-comment"></i> Comment</button>
                <button class="btn btn-primary" @onclick="ShowPostDetail"><i></i> Post Detail</button>
                @if (!string.IsNullOrEmpty(AlertMessage))
                {
                    <div class="alert alert-danger mt-3" role="alert">
                        @AlertMessage
                        <button type="button" class="btn-close" @onclick="ClearAlert" style="float: right;"></button>
                    </div>
                }
            </div>
        </div>
    </div>
}

<PopUpModal @ref="popUp" CloseCallBack="ClosePostDetailHandler" ModalTitle="PostDetail">
    <PostDetail @ref="postDetail" post=@PostData ModalClose="ClosePostDetailHandler"></PostDetail>
</PopUpModal>


@code {

    private string AlertMessage { get; set; } = string.Empty;
    [Parameter]
    public Post? PostData { get; set; }

    PopUpModal popUp { get; set; }
    PostDetail postDetail { get; set; }
    bool IsAuthenticated { get; set; } = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            try
            {
                await CheckAuthenticationStatus();
                await InvokeAsync(StateHasChanged);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error fetching user data: {ex.Message}");
            }
        }
    }
    void ShowPostDetail()
    {
        popUp.Show();
    }
    void ClosePostDetailHandler()
    {
        popUp.Close();
    }
    async Task ShowMessageBox(string message)
    {
        await JSRuntime.InvokeVoidAsync("alert", message);
    }
    private async void FromPosttoProfile() => await JSRuntime.InvokeVoidAsync("navigateTo", $@"/profile/{PostData.UploadedById}");

    async Task CheckAuthenticationStatus()
    {
        var authStatus = await ls.GetItemAsync<int?>("userId"); // Assuming "ID" is nullable
        IsAuthenticated = authStatus.HasValue; // Check if the ID exists and is valid
    }
    void HandleLike()
    {
        if (!IsAuthenticated)
        {
            ShowAlert("You must be logged in to Like a post.");
        }
    }

    void HandleComment()
    {
        if (!IsAuthenticated)
        {
            ShowAlert("You must be logged in to Comment on a post.");
        }

    }
    void ShowAlert(string message)
    {
        ClearAlert();
        AlertMessage = message;
    }

    void ClearAlert()
    {
        AlertMessage = string.Empty;
    }


}